*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.pyc
*.ncrunchsolution
*.ncrunchproject

_Resharper.*
packages

ConsoleBenchmark/bin
ConsoleBenchmark/obj

HandyCollectionsTest/bin
HandyCollectionsTest/obj

HandyCollections/bin
HandyCollections/obj
