*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.pyc
_Resharper.*
HandyCollectionsTest/bin
HandyCollectionsTest/obj
HandyCollections/bin
HandyCollections/obj
/*.ncrunchsolution
/HandyCollections/*.ncrunchproject
/HandyCollectionsTest/*.ncrunchproject
